<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read Persoana</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
</head>
<body>

<div th:replace="~{homepage :: myheader}"></div>

<div class="container-fluid full-height-container bg-light">

    <div class="row mt-4 text-center" ><h2>Introduceti ID-ul persoanei:</h2></div>


    <form action="/readPersoana" method="get">
        <div class="form-group">
            <label class="mt-1" for="id">Introdu ID-ul:</label>
            <input type="text" class="form-control" id="id" name="id" th:value="${id}">
        </div>
        <button type="submit" class="btn btn-success my-3">Afisati persoana cu id-ul selectat</button>
    </form>

    <table class="table mt-5">
        <thead>
        <tr class="bg-warning">
            <th>ID</th>
            <th>Nume</th>
            <th>Email</th>
            <th>Adresa</th>
        </tr>
        </thead>
        <tbody>
            <td th:text="${persoana.id}"></td>
            <td th:text="${persoana.nume}"></td>
            <td th:text="${persoana.email}"></td>
            <td th:text="${persoana.adresa}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="~{homepage :: myfooter}"></div>

</body>
</html>
