<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read Piesa Deviz</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
</head>
<body>

<div th:replace="~{homepage :: myheader}"></div>

<div class="container-fluid full-height-container bg-light">

    <div class="row mt-4 text-center" ><h2>Introduceti ID-ul devizului si al piesei:</h2></div>


    <form action="/readPiesaDeviz" method="get">
        <div class="form-group">
            <label class="mt-1" for="id_d">Introdu ID-ul devizului:</label>
            <input type="text" class="form-control" id="id_d" name="id_d" th:value="${id_d}">
            <label class="mt-1" for="id_p">Introdu ID-ul piesei:</label>
            <input type="text" class="form-control" id="id_p" name="id_p" th:value="${id_p}">
        </div>
        <button type="submit" class="btn btn-success my-3">Afisati piesa deviz selectata</button>
    </form>

    <table class="table mt-5">
        <thead>
        <tr class="bg-warning">
            <th>ID Deviz</th>
            <th>ID Piesa</th>
            <th>Cantiatea</th>
            <th>Pretul Real</th>
        </tr>
        </thead>
        <tbody>
            <td th:text="${piesaDeviz.id_d}"></td>
            <td th:text="${piesaDeviz.id_p}"></td>
            <td th:text="${piesaDeviz.cantiate}"></td>
            <td th:text="${piesaDeviz.pret_r}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="~{homepage :: myfooter}"></div>

</body>
</html>