<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rezultat Interogare 6.04-a</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
</head>
<body>

<div th:replace="~{homepage :: myheader}"></div>

<div class="container-fluid full-height-container bg-light">

  <div class="row  mt-4 text-center" ><h1>Rezultat Interogare 6.04-a</h1></div>


  <div class="row mt-5" >
    <p><strong>Cerinta:</strong>
    Să se găsească (id_d, descriere, fabricant, pret_c și pret_r) pentru piesele cu prețul de catalog mai mare decât prețul real.</p>
  </div>

<table class="table mt-5">
  <thead>
  <tr class="bg-warning">
    <th>ID</th>
    <th>Descriere</th>
    <th>Fabricant</th>
    <th>Pret catalog</th>
    <th>Preț real</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="piesa : ${sel4aList}">
    <td th:text="${piesa.id_d}"></td>
    <td th:text="${piesa.descriere}"></td>
    <td th:text="${piesa.fabricant}"></td>
    <td th:text="${piesa.pret_c}"></td>
    <td th:text="${piesa.pret_r}"></td>
  </tr>
  </tbody>
</table>

</div>
<div th:replace="~{homepage :: myfooter}"></div>

</body>
</html>