<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezultat Interogare 6.06-b</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
</head>
<body>

<div th:replace="~{homepage :: myheader}"></div>

<div class="container-fluid full-height-container bg-light">

    <div class="row  mt-4 text-center" ><h1>Rezultat Interogare 6.06-b</h1></div>


    <div class="row mt-5" >
        <p><strong>Cerinta:</strong>
            Să se găsească pentru fiecare piesă folosită la devize cu data_finalizare în luna septembrie 2023 cantitatea totală (descriere, fabricant, cantitate_totală).</p>
    </div>


    <table class="table mt-5">
        <thead>
        <tr class="bg-warning">
            <th>Descriere</th>
            <th>Fabricant</th>
            <th>Cantitate totala</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="piesa : ${sel6bList}">
            <td th:text="${piesa.descriere}"></td>
            <td th:text="${piesa.fabricant}"></td>
            <td th:text="${piesa.cantitate_totala}"></td>
        </tr>
        </tbody>
    </table>

</div>
<div th:replace="~{homepage :: myfooter}"></div>

</body>
</html>