
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
</head>
<body>

<div th:fragment="myheader">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/home" class="nav-item nav-link active">Home</a>
                <a href="#" class="nav-item nav-link">Services</a>
                <a href="#" class="nav-item nav-link">About</a>
            </div>
        </div>
    </div>
</nav>
</div>

<div class="container-fluid full-height-container">
    <div class="p-5 my-4 bg-light rounded-3 " ALIGN="center">
        <h1>Home Page</h1>


    <div class="row justify-content-md-center" style="margin-top:40px;">
        <div class="row">
            <div class="col"><a class="btn btn-warning" href="/query1" role="button">Interogare 6.03-a</a></div>
            <div class="col"><a class="btn btn-warning" href="/query2" role="button">Interogare 6.03-b</a></div>
        </div>

        <div class="row" style="margin-top:10px;">
            <div class="col"><a class="btn btn-outline-warning" href="/query3" role="button">Interogare 6.04-a</a></div>
            <div class="col"><a class="btn btn-outline-warning" href="/query4" role="button">Interogare 6.04-b</a></div>
        </div>

        <div class="row" style="margin-top:10px;">
            <div class="col"><a class="btn btn-warning" href="/query5" role="button">Interogare 6.05-a</a></div>
            <div class="col"><a class="btn btn-warning" href="/query6" role="button">Interogare 6.05-b</a></div>
        </div>

        <div class="row" style="margin-top:10px;">
            <div class="col"><a class="btn btn-outline-warning" href="" role="button">Interogare 6.06-a</a></div>
            <div class="col"><a class="btn btn-outline-warning" href="" role="button">Interogare 6.06-b</a></div>
        </div>
    </div>


    </div>
</div>



<div th:fragment="myfooter">
    <footer class="bg-dark text-light text-center py-3" >
        <ul class="nav justify-content-center border-bottom">
            <li class="nav-item"><a href="/home" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
        </ul>
    </footer>
</div>

</body>
</html>
