<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Piesa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
</head>
<body>

<div th:replace="~{homepage :: myheader}"></div>

<div class="container-fluid full-height-container bg-light">

    <div class="row mt-4 text-center" ><h2>Introduceti datele noii piese:</h2></div>


    <form action="/updatePiesa2" method="get">
        <div class="form-group">
            <label class="mt-1" for="id_p">Introdu ID-ul piesei care doresti sa o schimbii:</label>
            <input type="text" class="form-control" id="id_p" name="id_p" th:value="${id_p}">
            <label class="mt-1" for="descriere">Introdu noua descriere:</label>
            <input type="text" class="form-control" id="descriere" name="descriere" th:value="${descriere}">
            <label class="mt-1" for="fabricant">Introdu noul fabricant:</label>
            <input type="text" class="form-control" id="fabricant" name="fabricant" th:value="${fabricant}">
            <label class="mt-1" for="cantitate_stoc">Introdu noua cantitate stoc:</label>
            <input type="text" class="form-control" id="cantitate_stoc" name="cantitate_stoc" th:value="${cantitate_stoc}">
            <label class="mt-1" for="pret_c">Introdu noul pretul de catalog:</label>
            <input type="text" class="form-control" id="pret_c" name="pret_c" th:value="${pret_c}">
        </div>
        <button type="submit" class="btn btn-success my-3">Modificati piesa in tabel</button>
    </form>

    <table class="table mt-5">
        <thead>
        <tr class="bg-warning">
            <th>ID</th>
            <th>Descriere</th>
            <th>Fabricant</th>
            <th>Cantitate în Stoc</th>
            <th>Preț</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="piesa : ${piesaList}">
            <td th:text="${piesa.id_p}"></td>
            <td th:text="${piesa.descriere}"></td>
            <td th:text="${piesa.fabricant}"></td>
            <td th:text="${piesa.cantitate_stoc}"></td>
            <td th:text="${piesa.pret_c}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="~{homepage :: myfooter}"></div>

</body>
</html>